[Unit]
Description=Your Spring Boot Application
After=network.target

[Service]
User=root
ExecStart=/usr/bin/java -jar /path/to/deploy/yourapp.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target